@use "Main";

/* HOMEPAGE STYLING */

#homeWrap {
	#homeHero {
		width: 100vw;
		height: 100vh;
		position: sticky;
		top: 0px;
		left: 0;
		z-index: 0;
		#heroVideo {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
		.videoOverlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			display: grid;
			place-items: center;

			.overlayContent {
				width: 80%;
				max-width: 800px;
				display: flex;
				gap: 50px;
				margin: 0 auto;
				.overlayLeft {
					width: 50%;
					img {
						width: 100%;
					}
				}
				.overlayRight {
					text-align: center;
					color: white;
					width: 50%;

					h1 {
						font-size: 3rem;
						margin: 0;
					}
					h2 {
						margin: 0;
					}
					.ctaButton {
						margin: 0 auto;
						font-size: 1.3rem;
					}
				}
			}
		}
	}

	.homeSection {
		background-color: white;
		position: relative;
		min-height: 90vh;
	}

	.sectionTitle {
		text-align: center;
		font-size: 2.2rem;
		padding-top: 4rem;
		margin-top: 0;
		display: block;
		z-index: 1;
		position: relative;
	}

	.sectionDivider {
		width: 100%;
		position: absolute;
		overflow-x: hidden;
		top: -150px;
		isolation: isolate;
		display: flex;
		justify-content: center;
		img {
			width: 130%;
		}
	}

	#topHomeSection {
		display: block;
		width: 100%;
	}

	.bgSection {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 50px 0;

		.sectionTitle {
			color: white;
			padding-top: 3rem;
		}
	}

	#contactWrap {
		display: flex;
		align-items: center;
		justify-content: center;
		#contactForm {
			max-width: 500px;
			width: 100%;
			box-sizing: border-box;
			padding: 25px;
			display: flex;
			gap: 25px;
			flex-direction: column;
			background-color: white;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			border-radius: 20px;

			label {
				outline: 1px solid rgb(180, 180, 180);
				display: flex;
				position: relative;
				padding: 5px;
				padding-left: 0.5rem;
				border-radius: 5px;

				p {
					color: rgb(180, 180, 180);
					font-size: 0.8rem;
					height: 14px;
					position: absolute;
					top: -0.7rem;
					left: 0.5rem;
					margin: 0;
					background-color: white;
					padding: 0 0.3rem;
					isolation: isolate;
					z-index: 10;
				}

				input {
					width: 100%;
					border: none;
					font-size: 1rem;
					font-weight: 300 !important;

					&:focus {
						outline: none;
					}
				}
			}

			#telMail {
				display: flex;
				gap: 50px;
				label {
					width: 50%;
				}
			}
			#contactTel {
				flex-grow: 0.5;
			}
			#contactMail {
				flex-grow: 0.5;
			}

			textarea {
				width: 100%;
				border: none;
				font-size: 1rem;
				min-height: 7rem;
				&:focus {
					outline: none;
				}
			}
		}
	}
}

#cookieWrap {
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
	margin-top: 120px;
}
